.create_card{
    background-color: black;
    color: white;
}
#cname{
    background-color: transparent;
    color: white;
}
#section{
    background-color: transparent;
    color: white;
}
#cluster_code{
    background-color: transparent;
    color: white;
}